
<table class="table table-hover">
	<thead class="thead-dark">
		<tr>
			<th>User Emai</th>
			<th>User Name</th>
			<th>Job Title</th>
			<th>Job Description</th>
			<th>Company</th>
			<th>Salary</th>
			<th></th>
		</tr>
	</thead>
		<tbody>
			@foreach (CombinedModel appliedJob in @ViewBag.AppliedJobs)
			{
				<tr>
					<td>@appliedJob.UserEmail</td>
					<td>@appliedJob.UserName</td>
					<td>@appliedJob.JobTitle</td>
					<td>@appliedJob.JobDescription</td>
					<td>@appliedJob.CompanyName</td>
					<td>@appliedJob.Salary</td>
				</tr>
			}
		</tbody>
</table>

<a href="/Admin/AdminIndex"><button class="btn-outline-secondary">Back To Index</button></a>
